/* ============ reset ============ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* ============ global ============ */
:root {
  --black: #161925;
  --d-blue: #1d2940;
  --blue: #406e8e;
  --l-blue: #7998b9;
  --gray: #eae8ff;
  --white: #f5f4ff;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ========= pregame dialog ========= */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.pregameDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.p2type {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 24px;
}

input#computer {
  margin-left: 24px;
}

.p2nameContainer {
  display: none;
}

#startBtn {
  margin-top: 24px;
  background-color: var(--d-blue);
  color: var(--white);
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 10px;
}

/* ============ header ============ */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background-color: var(--d-blue);
}

.logo {
  color: var(--white);
}

/* ============ content ============ */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  flex: 1;
}

.board {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px 0;
  padding: 10px;
  gap: 30px;
  border: 1px solid black;
  border-radius: 18px;
  background-color: var(--black);
}

.opponentBoard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--gray);
}

.activeBoard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--gray);
}

.row {
  display: flex;
  gap: 4px;
}

.label {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  height: 24px;
  width: 24px;
  border: 1px solid black;
  background-color: var(--l-blue);
}
.square.ship {
  background-color: var(--black);
}
.square.hit {
  background-color: var(--black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-image: url("../img/spiky-explosion.svg");
}
.square.miss {
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-image: url("../img/convergence-target.svg");
}

.orientationContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.orientationContainer.hidden {
  display: none;
}

#orientationBtn {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px 34px;
  margin: 12px 0;
}
#orientationBtn.horiz {
  background-image: url("../img/phone-rotate-portrait.svg");
}
#orientationBtn.vert {
  background-image: url("../img/phone-rotate-landscape.svg");
}

.orientationLabel {
  width: 90px;
  text-align: center;
}

/* ============ footer ============ */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 12%;
  background-color: var(--blue);
}

.message {
  text-align: center;
  background-color: var(--gray);
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 12px;
}

#actionBtn {
  background-color: var(--d-blue);
  color: var(--white);
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 10px;
  display: none;
}

/* ============ mobile ============ */
@media (max-width: 650px) {
  .mobileHidden {
    display: none;
  }

  .label {
    height: 20px;
    width: 20px;
  }

  .square {
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
  }
}
